@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #032240;
  font-family: "Lilita One", sans-serif;
}

.title {
  font-size: 3rem;
  justify-self: center;
  margin-top: 2rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* PARTE DO MEIO (LETRAS USADAS, VIDAS MENSAGENS) */
.mid-container {
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 100%;
  box-sizing: border-box;
  height: 22rem;
}

.left-mid-container {
  flex: 1;
}

.theme-container {
  margin-top: 3rem;
  display: flex;
  background-color: #3a3e6ead;
  width: 10rem;
  height: 3.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.theme {
  color: white;
  font-size: 2rem;
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hearts-container {
  margin-top: 2rem;
  display: flex;
  background-color: #3a3e6ead;
  width: 20rem;
  height: 3.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.hearts img {
  width: 2.5rem;
  margin-left: 1rem;
}

.middle-mid-container {
  text-align: center;
  flex: 1;
}

.resultGame {
  margin-top: 5rem;
  display: flex;
  justify-self: center;
  color: #00ce3e;
  font-size: 3rem;
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.letterAlreadyUsed {
  display: flex;
  justify-self: center;
  margin-top: 1rem;
  color: #00ce3e;
  font-size: 2rem;
  display: flex;
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.realWord {
  display: flex;
  justify-self: center;
  margin-top: 1rem;
  color: #00ce3e;
  font-size: 2rem;
  display: flex;
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.right-mid-container {
  margin-top: 3rem;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.usedLetters {
  margin-right: 3rem;
  color: white;
  font-size: 2rem;
  display: inline-block;
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* PARTE DE COLOCAR AS LETRAS */
.word-container {
  margin-right: 4rem;
  margin-left: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  text-align: justify;
}

.letter-spaces {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 0.5rem;
  background-color: #3a3e6ead;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  justify-self: center;
}

.right-letter {
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: normal;
  color: white;
  font-size: 4rem;
}

/* ANIMAÇÕES */
.zoom-in {
  animation: zoomIn 0.2s ease-out forwards;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-10px);
  }
  30% {
    transform: translateX(10px);
  }
  45% {
    transform: translateX(-8px);
  }
  60% {
    transform: translateX(8px);
  }
  75% {
    transform: translateX(-4px);
  }
  90% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

.expand-fade-in {
  animation: expandFadeIn 0.3s ease-out forwards;
}

@keyframes expandFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fall-from-top {
  animation: fall-from-top 0.8s ease-in forwards;
}

@keyframes fall-from-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  60% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    transform: translateY(-25px);
  }

  85% {
    transform: translateY(-15px);
  }
  90% {
    transform: translateY(-10px);
  }
  95% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
